/* GLOBAL */
:root {
    --black: #1a1a1a;
    --overlay: rgba(26, 26, 26, 0.7);
    --white: #fcfcfc;
    --green: #13d890;
    --transition: all 0.5s ease;
}

html {
    scroll-behavior: smooth
}

::selection {
    background: var(--green);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--white);
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.wrapper {
    padding: 0px 32px;
}

h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 15px 0 25px 0;
    color: var(--black)
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 15px 0 25px 0;
    text-transform: uppercase;
    color: var(--black)
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 15px 0;
    color: var(--white)
}

span {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    transition: var(--transition);
}

section {
    scroll-margin-top: 40px;
    padding: 64px 0px;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    background-color: var(--white);
    z-index: 999;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

header .wrapper .logo {
    width: 60px;
    height: auto;
}

header .wrapper nav {
    max-width: 80%;
}

header .wrapper nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header .wrapper nav ul li {
    list-style-type: none;
    margin: 5px;
}

header .wrapper nav ul li a {
    color: var(--black);
    text-transform: uppercase;
}

header .wrapper nav ul li a:hover {
    color: var(--green);
}

/* MAIN */
main {
    padding-top: 164px;
}

/*ABOUT*/

#about .wrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

#about .image {
    width: 25%;
}

#about .about-info {
    width: 75%;
}

#about img {
    width: 100%;
    height: auto;
}

/*WORK*/

#work .title {
    text-align: center;
}

#work .project-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
}

#work .project-grid .project {
    width: calc(50% - 12.5px);
    background-color: #f2f2f2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
}

#work .project-grid .project:first-child {
    width: 100%;
    height: 700px;
}

#project-1 {
    background-image: url('../images/cheat-sheet.webp');
}

#project-2 {
    background-image: url('../images/study-guide.webp');
}

#project-3 {
    background-image: url('../images/code-refractor.webp');
}

#work .project-grid .project .project-info {
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 100px;
    padding: 0px 0px 0px 20px;
}

#work .project-grid .project .project-info a {
    color: var(--green);
}

#work .project-grid .project a:hover {
    color: var(--white);
}

/* CONTACT */
#contact .title {
    text-align: center;
}

#contact .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact .contact-info a {
    color: var(--black);
    transition: var(--transition);
}

#contact .contact-info a:hover {
    color: var(--green);
}

#contact .contact-info .socials a {
    margin: 0 5px;
}

/* FOOTER */
footer {
    background-color: var(--black);
}

footer .wrapper {
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer span {
    color: var(--white);
}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {

    .wrapper {
        padding: 0px 16px;
    }
    
    h1 {
        font-size: 32px;
    }

    section {
        padding: 32px 0px;
    }

    main {
        padding-top: 125px;
    }

    header .wrapper .logo {
        width: 40px;
        height: auto;
    }

    #about .wrapper {
        flex-direction: column-reverse;
    }

    #about .image {
        width: 100%;
    }

    #about .about-info {
        width: 100%;
    }

    #work .title {
        text-align: left;
    }

    #work .project-grid {
        flex-direction: column;
    }

    #work .project-grid .project {
        width: 100%;
    }

    #work .project-grid .project:first-child {
        height: 350px;
    }

    #contact .contact-info {
        flex-direction: column;
        justify-content: flex-start;
    }

    #contact .contact-info .socials {
        margin-bottom: 15px;
    }

    #contact .title {
        text-align: left;
    }

    footer .wrapper {
        flex-direction: column;
        justify-content: flex-start;
        padding: 32px 16px;
    }

    footer .wrapper span:first-child {
        margin-bottom: 15px;
    }
}